body {
    font: medium/1.9em Verdana, Helvetica, Arial, sans-serif;    
}

h1, h2 {    
    color: #007e7e;               
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

#principal {
    width: 920px;
    margin: 0 auto;
}

#garantia {
    line-height: 1.9em;
    font-style: italic;
    color: #444444;
    font-family: Geogia, "Times New Roman", Times, serif;
    border: 1px dashed white;        
    padding: 25px;
    padding-left: 80px;
    margin: 30px; 
    margin-right: 250px;
    background: url(imagem/background.gif) no-repeat top left #a7cece;    
}

#elixires {
    border: thin solid #007e7e;    
    width: 200px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 20px;
    text-align: center;
    background: url(imagem/cocktail.gif) repeat-x;    
    line-height: 1;
    float: right;
}

#elixires h2 {
    color: black;
}

#elixires h3 {
    color: #d12c47;
}

#rodape {
    font-size: 0.5em;
    line-height: normal;    
    text-align: center;
    margin-top: 30px;
}

.cd {
    font-style: italic;
}

.artista {
    font-weight: bold;
}

#elixires a:link {
    color: #007e7e;
}

#elixires a:visited {
    color: #333333;
}

#elixires a:hover {
    background: #f88396;
    color: #0d5353;
}

a:link {
    color: #007e7e;
}

a:visited {
    color: #333333;
}